{%- if collProd -%}
  {%- assign _currentVaraint = coll_prod -%}
{%- else -%}
  {%- assign _currentVaraint = coll_prod.selected_or_first_available_variant -%}
{%- endif -%}

{%- liquid

  
  assign available_online = coll_prod.metafields.accentuate.available_online    
  if customer and customer.b2b? and customer.company_available_locations_count > 0
      assign available_online = true
  endif
  if available_online == true
      if customer and customer.b2b?
        if customer.company_available_locations_count > 0      
        else
            assign available_online = false
        endif
      endif
  endif

  assign b2b_tag = false
  for tag in coll_prod.tags
    if tag == 'B2B'
      assign b2b_tag = true
      break
    endif
  endfor

  

  assign b2b_product_in_stock = 'no'
  if customer and customer.b2b? and customer.company_available_locations_count > 0
    assign b2b_product_in_stock = coll_prod.metafields.custom.availability | default: false    
  elsif b2b_tag == true
    assign b2b_product_in_stock = coll_prod.metafields.custom.availability | default: false
  endif
  if b2b_product_in_stock == 'true'
    assign b2b_product_in_stock = true
  endif



  assign current_variant_ava = current_variant.available
  if b2b_product_in_stock != 'no'				
    if b2b_product_in_stock == true
      assign current_variant_ava = b2b_product_in_stock
    else
      assign current_variant_ava = false
    endif
  endif

  unless _currentVaraint.available
    assign available_online = false
  endunless

  unless current_variant_ava
    assign available_online = false
  endunless

-%}


<div class="product-item {% if coll_prod.variants.size > 1 %}varient-select{% endif %}">
  {% if coll_prod.variants.size > 1 %}
  <div class="product-wrapper">
      <a href="{{ coll_prod.url }}" class="product-wrap">
          <img src="{{ coll_prod.featured_image | image_url }}" alt="Salmon" height="auto" width="auto">
          <span class="title">
            {{ coll_prod.title }}
          </span>
      </a>
      <span class="sku">-</span>
      <span class="price">-</span>
      <div class="quantity-btn-wrap">
        <button class="variant-select-btn" onclick="toggleVariant(this)">select a variant</button>
      </div>
  </div>
  <div class="varient-select-item">
    {%- for variant in coll_prod.variants -%}
      <div class="variant-inner-item">
        <div class="product-wrapper">
            <a href="{{ coll_prod.url }}" class="product-wrap">
                {% if variant.featured_image %}
                  <img src="{{ variant.featured_image | img_url:'master' }}" alt="Salmon" height="auto" width="auto">
                {% else %}
                  <img src="{{ coll_prod.featured_image | img_url:'master' }}" alt="Salmon" height="auto" width="auto">
                {% endif %}
                <span class="title">
                  {{ coll_prod.title }} / {{ variant.title }}
                </span>
            </a>
            {% if variant.sku %}<span class="sku"><span class="mobile-header">Sku</span>{{ variant.sku }}</span>{% else %}-{% endif %}
            <span class="price"><span class="mobile-header">Price</span>{{ variant.price | money }}{% if coll_prod.metafields.accentuate.unit_of_measure != blank %}/{{ coll_prod.metafields.accentuate.unit_of_measure }}{% endif %}</span>
            <div class="quantity-btn-wrap">
                <div class="quantity-selector {% unless available_online %}disabled{% endunless %}" data-item="{{ variant.id }}">
                    <button class="qtyminus" style="opacity: 0.5; cursor: not-allowed;" onclick="clickAttrMinus(this);"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M2.1875 7H11.8125" stroke="#14315C" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></button>
                    <span>0</span>
                    <button onclick="clickAttrPlus(this);" class="qtyplus"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M2.1875 7H11.8125" stroke="#14315C" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 2.1875V11.8125" stroke="#14315C" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></button>
                </div>
                {% comment %} <button class="select-btn" data-item="{{ variant.id }}" onclick="addProduct(this)">SELECT</button> {% endcomment %}
            </div>
        </div>
        <div class="error-massage">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
              <g clip-path="url(#clip0_95_2217)">
                <path d="M8 14.5C11.3137 14.5 14 11.8137 14 8.5C14 5.18629 11.3137 2.5 8 2.5C4.68629 2.5 2 5.18629 2 8.5C2 11.8137 4.68629 14.5 8 14.5Z" stroke="#EB1C1F" stroke-miterlimit="10"/>
                <path d="M8 9V5.5" stroke="#EB1C1F" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8 12C8.41421 12 8.75 11.6642 8.75 11.25C8.75 10.8358 8.41421 10.5 8 10.5C7.58579 10.5 7.25 10.8358 7.25 11.25C7.25 11.6642 7.58579 12 8 12Z" fill="#EB1C1F"/>
              </g>
              <defs>
                <clipPath id="clip0_95_2217">
                  <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
                </clipPath>
              </defs>
            </svg>
            {{ settings.out-stock-msg-bulk }}
        </div>
      </div>
    {%- endfor -%}
  </div>
  {% else %}
  <div class="product-wrapper">
    {% assign qty = 0 %}
    {% if cart_items_array != blank %}
      {% for chk_qty in cart_items_array %}
        {% assign temp_chk_qty = chk_qty | strip | times:1 %}
        {% if coll_prod.selected_or_first_available_variant.id == temp_chk_qty %}
          {% assign qty = cart_items_array_qty[forloop.index0] %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
    <a href="{{ coll_prod.url }}" class="product-wrap">
      <img src="{{ coll_prod.featured_image | image_url }}" alt="Salmon" height="auto" width="auto">
      <span class="title">
        {{ coll_prod.title }}
      </span>
    </a>
    <span class="sku"><span class="mobile-header">Sku</span>{{ coll_prod.selected_or_first_available_variant.sku }}</span>
    <div class="product-details">
      <span class="grid-sku"><span>SKU:</span><span>{{ coll_prod.selected_or_first_available_variant.sku }}</span></span>
      <span class="grid-title">
        <a href="{{ coll_prod.url }}">{{ coll_prod.title }}</a>
      </span>
    </div>
    <span class="price"><span class="mobile-header">Price</span>{{ coll_prod.price | money }}{% if coll_prod.metafields.accentuate.unit_of_measure != blank %}/{{ coll_prod.metafields.accentuate.unit_of_measure }}{% endif %}</span>
    <span class="grid-price"><span>Your price:</span><span>{{ coll_prod.price | money }}{% if coll_prod.metafields.accentuate.unit_of_measure != blank %}/{{ coll_prod.metafields.accentuate.unit_of_measure }}{% endif %}</span></span>
    <div class="quantity-btn-wrap">
      <div class="quantity-selector {% unless available_online %}disabled{% endunless %}" data-item="{{ coll_prod.selected_or_first_available_variant.id }}">
        <button onclick="clickAttrMinus(this);" class="qtyminus" style="opacity: 0.5; cursor: not-allowed;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M2.1875 7H11.8125" stroke="#14315C" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
        
        <span>{{qty}}</span>
        <button onclick="clickAttrPlus(this);" class="qtyplus"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M2.1875 7H11.8125" stroke="#14315C" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 2.1875V11.8125" stroke="#14315C" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
      </div>
      {% comment %} {% if _currentVaraint.available %}
        <button class="select-btn" data-item="{{ _currentVaraint.id }}" onclick="addProduct(this)">SELECT</button>
      {% else %}
        <button class="select-btn disabled" onclick="this.closest('.product-item').querySelector('.error-massage').classList.add('active');">SELECT</button>
      {% endif %} {% endcomment %}
    </div>
  </div>
  <div class="error-massage">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
        <g clip-path="url(#clip0_95_2217)">
          <path d="M8 14.5C11.3137 14.5 14 11.8137 14 8.5C14 5.18629 11.3137 2.5 8 2.5C4.68629 2.5 2 5.18629 2 8.5C2 11.8137 4.68629 14.5 8 14.5Z" stroke="#EB1C1F" stroke-miterlimit="10"/>
          <path d="M8 9V5.5" stroke="#EB1C1F" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8 12C8.41421 12 8.75 11.6642 8.75 11.25C8.75 10.8358 8.41421 10.5 8 10.5C7.58579 10.5 7.25 10.8358 7.25 11.25C7.25 11.6642 7.58579 12 8 12Z" fill="#EB1C1F"/>
        </g>
        <defs>
          <clipPath id="clip0_95_2217">
            <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
        </defs>
      </svg>
      {{ settings.out-stock-msg-bulk }}
  </div>
  {% endif %}
</div>