<div class = 'table' data-cart-line-items >
  {%- for item in cart.items -%}
    <div class="row cart__row flex-row {% unless customer_b2B %}justify-content-start{% endunless %} align-items-center {% unless customer_b2B %}mb-5{% endunless %}" 
      data-cart-item 
      data-cart-item-key="{{ item.key }}" 
      data-cart-item-url="{{ item.url }}" 
      data-cart-item-title="{{ item.title }}" 
      data-cart-item-index="{{ forloop.index }}" 
      data-cart-item-quantity="{{ item.quantity }}">


      {% unless customer_b2B %}
      <div class="col-4 col-md-3 pe-0">
        <div class="cart__image-wrapper p-0">
          <img class="cart__image cart-thumbnail img-fluid {% if item.image == null %} d-none{% endif %}" src="{{ item | img_url: 'x190' }}" 
            alt="{{ item.image.alt | escape }}" 
            width="{{item.image.width}}"
            height="{{item.image.height}}"
            data-cart-item-image >
        </div>
      </div>
      {% endunless %}

      <div class="col-8 col-md-4 cart__meta {% unless customer_b2B %}ps-3{% endunless %} title-wrap" 
        data-cart-table-cell>
        <div class="cart__product-information pt-0">
          <div class="list-view-item__title">
            <h3><a href="{{ item.url }}" 
              class=" cart__product-title body-1 text-blue mb-2" 
              data-cart-item-title >
              {{ item.product.title }}
            </a></h3>
          </div>
          <div>
            {% unless customer_b2B %} 
            <div class=" cart__price text-left header-5">
              {% render 'cart-partial-price' item:item %}
            </div>
            {% else %}
              {% if item.sku != blank %}
              <div class=" cart__sku text-left header-5 mb-2">
                SKU: {{item.sku}}
              </div>
              {% endif %}
            {% endunless %}
            <div class="header-6">
              {% render 'cart-partial-details'item:item %}
            </div>
          </div>
        </div>
      </div>

      {% if customer_b2B %}
        <div class="col-8 col-md-4 cart__meta price-wrap">
          {% render 'product-price', product:item, variant: item.product.selected_or_first_available_variant, show_vendor: false, available_online: true %}
        </div>
      {% endif %}

      <div class="offset-4 offset-md-0 col-md-5 cart__quantity-td text-left header-6 qty-wrap">
        {% render 'cart-partial-quantity' item:item, customer_b2B:customer_b2B %}
      </div>
      <div class="col-sm-3 cart__final-price text-right d-none " data-cart-item-line-price>
        {% render 'cart-partial-price-final' item:item %}
      </div>
    </div>
    {%- unless forloop.last -%}
    {%- endunless -%}

  {%- endfor -%}
</div>
