{% for link in filterMenu %}
    {% assign url = link.url | remove_first :'#' %}
  <div
    class="{{url}}-filter filter-list-container"
    mx-filter-group="{{link.title}}"
    data-group='{{url}}'>
    <h3 class="filter-category-header mb-3" id="filterButton-{{ url }}-mobile">
      {{ filter }}
    </h3>
    <ul class="mobile-filter-list" aria-labelledby="filterButton-{{ url }}-mobile">
    {% for child_link in link.links %}
        {% if all_tags contains child_link.title %}
            {% liquid
                assign child_url = child_link.url | remove_first : '#' 
                assign full_url = url | append : '_' | append : child_url 
            %}
            <li
                class="dropdown-item checkbox-row "
                mx-filter-toggle
                data-group="{{ url }}"
                data-filter="{{ child_url }}"
                data-filter-without-group="{{ child_url }}">
                <label for="{{full_url}}-filter-checkbox-mobile">
                    <input
                    type="checkbox"
                    id="{{full_url}}-filter-checkbox-mobile"
                    name="{{full_url}}"
                    data-filter="{{full_url}} ">
                    <span>{{ child_link.title }}</span>
                </label>
            </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
  {% endfor %}