{% if paginate.pages > 1 %}
<div class="container  ">
  <div class="row">
    <div class="col">
      <ul class="pagination mt-5 header-5" style="justify-content: center;">
      {% comment %} {% if paginate.previous %}
        <li><a href="{{ paginate.previous.url }}" class="prev me-2 text-blue-secondary">Previous</a></li>
      {% else %}
        <li><span>{{ back_word }}</span></li>
      {% endif %}
        <li>Page {{ paginate.current_page }} of {{ paginate.pages }}</li>
      {% if paginate.next %}
        <li><a href="{{ paginate.next.url }}" class="next ms-2 text-blue-secondary">Next</a></li>
      {% else %}
        <li><span>{{ next_word }}</span></li>
      {% endif %}{% endcomment %}

      {%- if paginate.next -%}
        <li>
          <a href="{{ paginate.next.url }}{{ anchor }}" data-loading-type="{{ pagination_type }}" class="btn next ms-2 new-btn text-blue-secondary" aria-label="{{ 'general.pagination.next' | t }}">
            {{- 'See More' -}}
          </a>
        </li>
      {%- endif -%}
      </ul>
    </div>
  </div> 
</div>
{% endif %}