<div class=" my-5 py-5 "  >
    <div class="container my-5 py-5 ">
        <div class="row my-3 py-3 ">
            <div class="col-md-6 offset-md-3">
                <h2>{{section.settings.header}}</h2>
                {% if section.settings.body != blank %}
                    {{section.settings.body}}
                {% endif %}
                <form class="password-protection" 
                    data-key="{{section.settings.password}}" 
                    data-path="{{request.path}}">
                  <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const has_passed = {{section.settings.require_each}} == true ? false : window.localStorage.getItem( '{{request.path}}' , true )
    if( has_passed == null || has_passed == false ){
            document.body.classList.add( 'password-protected' );
    }else{
        if( Shopify.designMode !== true ){
            document.querySelector( '.password-protection').style.display='none';
        }
    }
</script>

{% schema %}
{
  "name": "Password Protect Page",
  "tag": "section",
  "class": "password-protection",
  "settings": [
    {
        "type" : "text",
        "id" : "header",
        "label" : "Header",
        "default" : "Enter a password to view this content"
    },
    {
        "type" : "text",
        "id" : "password",
        "label" : "Password",
        "default" : "Acme"
    },
    {
        "type" : "checkbox",
        "id" : "require_each",
        "label" : "Require password on each page load",
        "default" : false
    },
    {
        "type" : "richtext",
        "id" : "body",
        "label" : "Body"
    }
  ],
  "presets": [
    {
      "name": "Password Protect Page",
      "settings": {}
    }
  ]
}
{% endschema %}
