{%- liquid 
  assign on_sale = false
  assign sold_out = false
  if product.compare_at_price > product.price  or product.compare_at_price_max > 0
    assign on_sale = true
  endif
  if product.available == false
  assign sold_out = true
  endif
  assign current_variant = product.selected_or_first_available_variant

  assign available_online = product.metafields.accentuate.available_online    
  if available_online == true
    if customer and customer.b2b?
      if customer.company_available_locations_count > 0      
      else
        assign available_online = false
      endif
    endif
  endif

  assign b2b_tag = false
  for tag in product.tags
    echo tag
    if tag == 'B2B'
      assign b2b_tag = true
      break
    endif
  endfor

  assign customer_b2B = false
  if customer and customer.b2b? and customer.company_available_locations_count > 0
    assign customer_b2B = true
  endif

  
-%}

<script>
  {% if b2b_tag == true %}
    {% unless customer %}
      window.location.href = '/';
    {% elsif customer_b2B == false %}
      window.location.href = '/';
    {% endunless %}
  {% endif %}
</script>


{% comment %} get the primary collection {% endcomment %}
{% liquid
  assign primary_collection = false
  for collection in product.collections
      if collection.metafields.collection.primary_collection == true
          assign primary_collection = collection
      endif
  endfor
%} 



{%- capture product_flags -%}{%- if on_sale -%} flag-on-sale {%- endif -%} {%- if sold_out -%} flag-out-of-stock {%- endif -%}{%- endcapture -%}

<div 
  class="product-section-template product-section-top-row gsap-mininav" id="mini-nav__overview" style="overflow:visible;">
  <div class="container px-xxl-0">
    <div class="row product-single" id="product-single">
      <div class="col-12 col-md-6 col-lg-5">
        {%- render 'product-single-images' -%}
      </div><!-- // col-12 -->

      <div class="product-single__details col-md-6 col-lg-5 offset-lg-1 mt-lg-4 pt-lg-2">
        <div class="content-container">
          <div class="top-line mb-0">
            <span class="product-category header-5">{{ primary_collection.title }}</span>
          </div>
          <h1 class="product-title header-1 my-3">{{ product.title }}</h1>
          {%- liquid
            assign has_in_stock = false            
            assign current_varaint = product.selected_or_first_available_variant            

            if current_varaint.inventory_policy == "continue" or current_varaint.inventory_management == nil
              assign has_in_stock = true              
            elsif current_varaint.inventory_quantity > 0
              assign has_in_stock = true
            else
              assign has_in_stock = false
            endif
          -%}
          {% if has_in_stock %}
          <span class="product-stock stock-in">In stock</span>
          {% else %}
          <span class="product-stock stock-out">Out of Stock</span>
          {% endif %}
          
          {% unless customer_b2B %}
          <!-- Start of Judge.me code --> 
            <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
              {{ product.metafields.judgeme.badge }} 
            </div> 
          <!-- End of Judge.me code -->
          {% endunless %}
          
          <div class="product-description body-2 mb-2">{{ product.description }}</div>
            {% render 'product-single-form' product:product  available_online: available_online %}


          {% unless customer_b2B %}
            {% if product.metafields.accentuate.where_to_buy_code != blank and product.metafields.accentuate.available_online != true %}
              <div class="destini-buttons d-flex flex-column">
                {% render 'product-destini-buttons' product:product %}
              </div>
            {% endif %}
          {% endunless %}
        </div>
      </div><!-- // product-single__details -->
    </div><!-- row -->
  </div><!-- // container --> 
  
  {% render 'modal-fish-calculator' product:product %}

</div><!-- // product container -->


{% schema %}
{
  "name": "Product Hero",
  "templates": [
    "product"
  ],
  "settings": [
  ],
  "presets": [
    {
      "name": "Product Hero",
      "settings": {
      }
    }
  ]
}
{% endschema %}

